<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.simplec.plugins.volumeslider"
        version="1.0.64">

    <name>VolumeSlider</name>

    <description>Show a volume slider to change the volume of the app without the physical buttons</description>
    <keywords>volume, slider, change, set, sound, ios</keywords>
    <license>MIT</license>

    <author>SimpleC</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/VolumeSlider.js" name="VolumeSlider">
        <clobbers target="plugins.volumeSlider" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
    		<feature name="VolumeSlider">
    			<param name="ios-package" value="VolumeSlider"/>
    		</feature>
        </config-file>

    	<header-file src="src/ios/VolumeSlider.h" />
    	<source-file src="src/ios/VolumeSlider.m" />
 		<framework src="MediaPlayer.framework" weak="true" />
    </platform>
    
	  <!-- android -->
	  <platform name="android">
	    <config-file target="res/xml/config.xml" parent="/*">
	      <feature name="VolumeSlider">
	        <param name="android-package" value="com.simplec.phonegap.plugins.volumeslider.VolumeSlider" />
	      </feature>
	    </config-file>
	
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
	
	    <source-file src="src/android/com/simplec/phonegap/plugins/volumeslider/VolumeSlider.java" target-dir="src/com/simplec/phonegap/plugins/volumeslider"/>
	  </platform>

</plugin>
